@page
@model AgileVentureFirenzePoll.MyFeature.Pages.Page1Model

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page1</title>
    @Html.ActionLink("sessione1","Vota","Votazioni",new{key="se1"})
</head>
<body>
</body>
</html>
